<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <!--
    For a description of web.config changes for .NET 4.5 see http://go.microsoft.com/fwlink/?LinkId=235367.

    The following attributes can be set on the <httpRuntime> tag.
      <system.Web>
        <httpRuntime targetFramework="4.5" />
      </system.Web>
  -->
  <appSettings>
    <add key="email" value=""/>
    <add key="sender" value=""/>
    <add key="password" value=""/>
    <add key="subject" value="Test Mail" />
    <add key="code" value="1234"/>
  </appSettings>
  <connectionStrings>
    <add name="MyCon" connectionString="server = ERNESTEUGENB431\SQLEXPRESS; DATABASE= dbRedbull; UID = sa; PWD=ernest;"/>
  </connectionStrings>
  <system.web>
    <compilation debug="true" targetFramework="4.5"/>
  </system.web>
</configuration>